
NET led(0)         LOC = "AA28"  | IOSTANDARD="LVCMOS25"; 
NET led(1)         LOC = "AB26"  | IOSTANDARD="LVCMOS25";

NET i2cScl         LOC = "AC29"  | IOSTANDARD="LVCMOS25"; 
NET i2cSda         LOC = "AD30"  | IOSTANDARD="LVCMOS25";

NET ethRxP         LOC = "AH10"; 
NET ethRxM         LOC = "AH9"; 
NET ethTxP         LOC = "AK10"; 
NET ethTxM         LOC = "AK9"; 

#NET dpmToRtmHsP(0)  LOC = "AH2";
#NET dpmToRtmHsM(0)  LOC = "AH1";
#NET rtmToDpmHsP(0)  LOC = "AH6";
#NET rtmToDpmHsM(0)  LOC = "AH5";
#NET dpmToRtmHsP(1)  LOC = "AF2";
#NET dpmToRtmHsM(1)  LOC = "AF1";
#NET rtmToDpmHsP(1)  LOC = "AG4";
#NET rtmToDpmHsM(1)  LOC = "AG3";
#NET dpmToRtmHsP(2)  LOC = "AE4";
#NET dpmToRtmHsM(2)  LOC = "AE3";
#NET rtmToDpmHsP(2)  LOC = "AF6";
#NET rtmToDpmHsM(2)  LOC = "AF5";
#NET dpmToRtmHsP(3)  LOC = "AD2";
#NET dpmToRtmHsM(3)  LOC = "AD1";
#NET rtmToDpmHsP(3)  LOC = "AD6";
#NET rtmToDpmHsM(3)  LOC = "AD5";
#NET dpmToRtmHsP(4)  LOC = "AB2";
#NET dpmToRtmHsM(4)  LOC = "AB1";
#NET rtmToDpmHsP(4)  LOC = "AC4";
#NET rtmToDpmHsM(4)  LOC = "AC3";
#NET dpmToRtmHsP(5)  LOC = "Y2";
#NET dpmToRtmHsM(5)  LOC = "Y1";
#NET rtmToDpmHsP(5)  LOC = "AB6";
#NET rtmToDpmHsM(5)  LOC = "AB5";
#NET dpmToRtmHsP(6)  LOC = "W4";
#NET dpmToRtmHsM(6)  LOC = "W3";
#NET rtmToDpmHsP(6)  LOC = "Y6";
#NET rtmToDpmHsM(6)  LOC = "Y5";
#NET dpmToRtmHsP(7)  LOC = "V2";
#NET dpmToRtmHsM(7)  LOC = "V1";
#NET rtmToDpmHsP(7)  LOC = "AA4";
#NET rtmToDpmHsM(7)  LOC = "AA3";
#NET dpmToRtmHsP(8)  LOC = "T2";
#NET dpmToRtmHsM(8)  LOC = "T1";
#NET rtmToDpmHsP(8)  LOC = "V6";
#NET rtmToDpmHsM(8)  LOC = "V5";
#NET dpmToRtmHsP(9)  LOC = "R4";
#NET dpmToRtmHsM(9)  LOC = "R3";
#NET rtmToDpmHsP(9)  LOC = "U4";
#NET rtmToDpmHsM(9)  LOC = "U3";
#NET dpmToRtmHsP(10) LOC = "P2";
#NET dpmToRtmHsM(10) LOC = "P1";
#NET rtmToDpmHsP(10) LOC = "T6";
#NET rtmToDpmHsM(10) LOC = "T5";
#NET dpmToRtmHsP(11) LOC = "N4";
#NET dpmToRtmHsM(11) LOC = "N3";
#NET rtmToDpmHsP(11) LOC = "P6";
#NET rtmToDpmHsM(11) LOC = "P5";

#NET hsRefClkP(0)   LOC = "AD10";
#NET hsRefClkM(0)   LOC = "AD9";
#NET hsRefClkP(1)   LOC = "AA8";
#NET hsRefClkM(1)   LOC = "AA7";
#NET hsRefClkP(2)   LOC = "N8";
#NET hsRefClkM(2)   LOC = "N7";
#NET hsRefClkP(3)   LOC = "U8";
#NET hsRefClkM(3)   LOC = "U7";

NET dpmToRtmLsP(3)  LOC = "AB27"  | IOSTANDARD = "LVCMOS25";
NET dpmToRtmLsM(3)  LOC = "AC27"  | IOSTANDARD = "LVCMOS25";
NET dpmToRtmLsP(2)  LOC = "AE27"  | IOSTANDARD = "LVCMOS25";
NET dpmToRtmLsM(2)  LOC = "AF27"  | IOSTANDARD = "LVCMOS25";
NET dpmToRtmLsP(1)  LOC = "AC28"  | IOSTANDARD = "LVCMOS25";
NET dpmToRtmLsM(1)  LOC = "AD28"  | IOSTANDARD = "LVCMOS25";
NET dpmToRtmLsP(0)  LOC = "AE28"  | IOSTANDARD = "LVCMOS25";
NET dpmToRtmLsM(0)  LOC = "AF28"  | IOSTANDARD = "LVCMOS25";

NET dpmToDtmP(1)    LOC = "AA18" | IOSTANDARD = "LVCMOS25";
NET dpmToDtmM(1)    LOC = "AA19" | IOSTANDARD = "LVCMOS25";
NET dpmToDtmP(0)    LOC = "AD18" | IOSTANDARD = "LVCMOS25";
NET dpmToDtmM(0)    LOC = "AD19" | IOSTANDARD = "LVCMOS25";

NET userClkP        LOC = "D9"   | IOSTANDARD = "LVCMOS18";
NET userClkM        LOC = "D8"   | IOSTANDARD = "LVCMOS18";

NET U_ArmRceG3Top/fclkClk0 TNM_NET = "fclkClk0";
TIMESPEC TS_fclkClk0 = PERIOD fclkClk0 100 Mhz HIGH 50%;

NET U_ArmRceG3Top/U_ArmRceG3Clocks/ponResetL TIG;

