
NET led(0) LOC = "W10"  | IOSTANDARD="LVCMOS25"; 
NET led(1) LOC = "V7"   | IOSTANDARD="LVCMOS25";
NET i2cScl LOC = "Y11"  | IOSTANDARD="LVCMOS25"; 
NET i2cSda LOC = "AA11" | IOSTANDARD="LVCMOS25";

NET U_ArmRceG3Top/fclkClk0 TNM_NET = "fclkClk0";
TIMESPEC TS_fclkClk0 = PERIOD fclkClk0 100 Mhz HIGH 50%;

