
#NET dtmToRtmHsP(0) LOC = "AA2";
#NET dtmToRtmHsM(0) LOC = "AA1";
#NET rtmToDtmHsP(0) LOC = "Y4";
#NET rtmToDtmHsM(0) LOC = "Y3";
#NET dtmToRtmHsP(1) LOC = "W2";
#NET dtmToRtmHsM(1) LOC = "W1";
#NET rtmToDtmHsP(1) LOC = "V4";
#NET rtmToDtmHsM(1) LOC = "V3";

